@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Quicksand', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.profil-mhs p span {
  display: inline-block;
  width: 100px;
}

.custom-col {
  flex: 0 0 14.2857%; /* Sesuaikan dengan 100% / jumlah kolom */
  max-width: 14.2857%;
}

.point{
  cursor: pointer;
}

table {
  width:100%;
}

#tabel-rekap-pkl td:nth-child(1){
  width: 5%;
}
#tabel-rekap-pkl td:nth-child(2){
  width: 15%;
}
#tabel-akun-mhs td:nth-child(7){
  width: 30%;
}

@media print {
  body * {
    visibility: hidden;
  }

  .printable, .printable * {
    visibility: visible;
    position: static; /* atau sesuai kebutuhan, misalnya relative, absolute, dll. */
    top: auto;
    left: auto;
    margin: 0;
  }
}

.tab{
  display: inline-block;
  width: 75px;
}

.modal-custom {
  max-width: 75%; /* Sesuaikan dengan lebar yang diinginkan */
  width: 100%;
}
